version: '3'

services:
  postgres:
    restart: unless-stopped
    container_name: 'postgres'
    image: 'postgres:11'
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - 'pgdata:/var/lib/postgresql/data/'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: takeloot
  redis:
    container_name: 'redis'
    image: 'redis'
    ports:
      - '127.0.0.1:6379:6379'
    volumes:
      - 'redisdata:/data'
  api:
    container_name: 'api'
    image: node:lts
    command: yarn start:dev
    ports:
      - '127.0.0.1:3000:3000'
    volumes:
      - .:/srv/api:rw
    working_dir: /srv/api
    env_file:
      - .env.development
    depends_on:
      - postgres
      - redis

volumes:
  pgdata: {}
  redisdata: {}
