name: API Build

on:
  push:
    branches: [develop]

env:
  NEXT_PUBLIC_TAKELOOT_API: api.takeloot.ru

jobs:
  build_all:
    name: Build api app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('yarn.lock') }}-${{ secrets.CACHE_VERSION }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn --immutable

      - name: Build apps
        working-directory: ./
        run: yarn build

      - name: Build and export
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile
          context: ./
          push: true
          tags: ghcr.io/${{ github.repository }}/takeloot-api:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/takeloot-api:latest
          cache-to: type=inline

      - name: Rancher Deploy
        uses: yantadeu/rancher-deploy-action@v0.0.3
        env:
          RANCHER_ACCESS_KEY: ${{ secrets.RANCHER_ACCESS_KEY }}
          RANCHER_SECRET_KEY: ${{ secrets.RANCHER_SECRET_KEY }}
          RANCHER_URL_API: ${{ secrets.RANCHER_SECRET_KEY }}
          SERVICE_NAME: ${{ secrets.RANCHER_SERVICE_NAME }}
          DOCKER_IMAGE: ${{ secrets.RANCHER_DOCKER_IMAGE }}
          DOCKER_IMAGE_LATEST: ${{ secrets.RANCHER_DOCKER_IMAGE_LATEST }}

